html {
    padding: 0;
    margin: 0;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* min-width: 100%; */
    min-height: 100vh;
    /* width: 100vw; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    overflow: visible;
    background: linear-gradient(to bottom, #fcd1fa -10%, #7d2f80 100%);
    /* border: 2px solid red; */
}

body {
    color: white;
    /* min-height: 100%; */
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    /* border: 2px solid green; */
    /* background: linear-gradient(to bottom, #fcd1fa -10%, #7d2f80 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    overflow: visible;
}

main {
    /* height: 100%; */
    /* overflow: visible; */
    /* border: 2px solid blue; */
}

#logo_topo {
    display: block;
    margin: 0 auto;
    padding: 20px;
    /* position: absolute;
    left:0; */
    bottom: 0;
    width: 12%;
    /* text-align: center; */
    /* border: 2px solid red; */
}

h1 {
    margin: 0 auto;
    pad: 0;
    text-align: center;
    color: black;
    margin-top: 20px;
}

h2 {
    margin: 0 auto;
    pad: 0;
    text-align: center;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.menu {
    /* border: 2px solid red; */
    margin: auto;
    width: 70%;
    list-style: none;
    padding: 0;
}

ul li:not(:first-child) {
    margin: auto;
    padding: 0;
    /* border: 2px solid lightblue; */
    margin-top: 15px;
}

li a {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 1.05em;
    border: 3px solid white;
    box-shadow: 3px 3px 3px rgb(67, 63, 102);
    height: 50px;
    overflow: auto;
    border-radius: 7px;
    width: 50%;
    padding: 0;
    position: relative;
    margin-bottom: 4px;
}

li a:hover {
    background-color: rgb(104, 36, 136);
    transition-duration: 0.6s;
}

.nome_link {
    display: flex;
    padding-left: 10px;
}

.icones {
    display: flex;
    /* border: 2px solid red; */
    position: absolute;
    margin: 0;
    padding: 3px;
    left: 10px;
    font-size: 1.6em;
    border-radius: 10px;
}

#whats {
    background-color: #29a857;
    color: white;
    margin: 0;
}

#face {
    background-color: blue;
    color: white;
    margin: 0;
    /* border: 2px solid black; */
}

#book {
    /* background-color: white; */
    color: rgb(240, 225, 255);
    padding: 0;
    margin: 0;
    /* font-size: 1.8em; */
}

#ecommerce {
    color: #482991;
    padding: 0;
    margin: 0;
    /* font-size: 1.8em; */
}

#youtube {
    color: red;
    background-color: white;
}

#instagram {
    color: white;
    background-color: rgb(90, 30, 160);
}

/* 
#site_gio{
    color: #482991;
    border-radius: 10px;
    padding:0;
    margin:0;
    font-size: 2.0em;
} */

.descricao_link {
    padding: 5px;
    position: relative;
    left: 25%;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: black;
}

#nome_ebook_small {
    display: none;
}

@media screen and (max-width: 800px) {
    ul.menu {
        /* border: 2px solid red; */
        margin: auto;
        width: 90%;
        list-style: none;
        padding: 0;
    }
    li a {
        width: 100%;
        /* padding-left: 10px; */
    }
    .descricao_link {
        left: 0;
        padding: 0;
        /* margin-left: 5px; */
    }
    .icones {
        font-size: 1.4em;
        /* padding: 0; */
        margin: 0;
        left: 5px;
    }
    .nome_link {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 290px) {
    #nome_ebook {
        display: none;
    }
    #nome_ebook_small {
        display: block;
    }
}